.universeName{
    color: #9A9A9A !important;
    border-color: rgb(49, 154, 87) !important;
    font-weight: bold;
    border: 2px solid rgb(49, 154, 87)!important;
}
.universeName:hover{
    color: white !important;
}
.universeName:focus{
    color: white !important;
}
.header-title{
    color: rgb(49, 154, 87);
}
label{
    margin-right: 10px;
}
.ridues{
    border-radius: 20px;
}
.widthClass{
    min-width: 400px;
    max-width: 600px;
}
.titleAction{
    color: rgb(49, 154, 87);
}
.titleError{
    color: #a94442;
}
.font{
    font-size: 18px;
}

.universeName2{
    color: #9A9A9A !important;
    border-color: #a94442 !important;
    font-weight: bold;
    border: 2px solid #a94442 !important;
}
.universeName:hover{
    color: white !important;
}
.universeName:focus{
    color: white !important;
}