.universeName{
    color: #9A9A9A !important;
    border-color: rgb(49, 154, 87) !important;
    font-weight: bold;
}
.universeName:hover{
    color: white !important;
}
.universeName:focus{
    color: white !important;
}
.header-title{
    color: rgb(49, 154, 87);
}