
<ngx-loading [show]="loading" [config]="{backdropBorderRadius: '50px',fullScreenBackdrop:true }"></ngx-loading> 

<!--<input [(ngModel)]="searchText" placeholder="Search here ..." class="searchInput">-->
<div>
        <!--<input id="filter" #filter (keyup)="tree.treeModel.filterNodes(filter.value)" placeholder="filter nodes"/>-->
        
        <input id="filter2" #filter2 (keyup)="tree.treeModel.filterNodes(filter2.value, true)" placeholder="Search Here ..."/>
        <button (click)="tree.treeModel.clearFilter()">Clear Filter</button>
        <!--<h3>Filter By Function (Fuzzy Search)</h3>-->
        <!--<input id="filter3" #filter3 (keyup)="filterFn(filter3.value, tree.treeModel)" placeholder="filter nodes by fuzzy search"/>-->
</div>
<div style="width:900px; min-height:500px; overflow-x:hidden; overflow-y:hidden;padding: 20px 100px;">
  <tree-root #tree [focused]="true" [nodes]="nodes" [options]="options"></tree-root> 
</div>
