<div class="alarmData">
    <ngx-loading [show]="loading" [config]="{backdropBorderRadius: '50px',fullScreenBackdrop:true }"></ngx-loading> 
    <div class="row">
      <div class="col-xs-3">
          <label> Date: </label> <input type="Date" [(ngModel)]="alarmdate"/>
      </div>
      <div *ngIf="alarmdate">
          
            <div class="col-xs-3">
            <input class="btn btn-success universeName" type="button" value="H6900" (click)="H6900()"/>
          </div>
          <div class="col-xs-3">
          <input class="btn btn-success universeName" type="button" value="GSN" (click)="GSN()"/>
        </div>
          <div class="col-xs-3">
          <input class="btn btn-success universeName" type="button" value="NSS" (click)="NSS()"/>
        </div>
        </div>
      </div> 

    <br>
    <br>
    <br>
    <ng2-smart-table [settings]="settings" [source]="data" (rowSelect)="onRowSelect($event)"></ng2-smart-table>
</div>