/* You can add global styles to this file, and also import other style files */
.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: rgb(51, 189, 102) !important;
  }
  
.mat-ripple-element {
    background: rgba(49, 154, 87, .4) !important;
  }
  .logo-img{
    width: 150px;
    height: 40px;
  }
  .logo-img img{
    width: 150px !important;
    height: 40px !important;
    margin-left: 30px !important;
  }
  .simple-text{
    font-size: 14px !important;
    font-weight: bold !important;
  }