.search-icon{
    font-weight: normal;
    font-size: 26px !important;
}
.searchInput{
    font-size: 24px !important;
    border: 0px;
    border-bottom: 2px solid ;
    color: rgb(49, 154, 87);
    margin-bottom: 10px;
}
.header-title{
    margin-bottom: 20px;
    color: rgb(49, 154, 87);
}
.header-title .title-name{
    margin-top: 5px !important;
    font-size: 28px;
}
.header-title .header-title-info{
    font-size: 26px !important;
}
.daily-content{
    overflow: auto;
    max-height: 200px;
}
.kpi-content{
    overflow: auto;
    max-height: 200px;
}
.peak-content{
    overflow: auto;
    max-height: 200px;
}
.subsets{
    margin: 0px !important;
    padding: 5px !important;
}
.subsets li{
    border: 2px solid rgb(49, 154, 87);
    padding: 5px;
    display: inline-block;
    border-radius: 20px;
    margin: 5px;
    min-width: 300px;
    text-align: center;
}
.subsets li:hover{
    background: rgb(49, 154, 87);
}
.subsets li:hover label{
    color: white  !important;
    cursor: pointer !important;
}
.subsets li label {
    font-weight: bold !important;
}
.ti-angle-double-down{
    font-size: 18px;
    cursor: pointer;
    color: rgb(49, 154, 87);
}
.ti-angle-double-down:hover{
    color: lightgray;
}
.search-info input{
    margin-left: 10px !important;
}
.search-info div{
    width: 30px !important;
    height: 30px !important;
    float: left;
    padding-top: 7px;
    margin-left: 80px;
}
.subsetInfo-content {
    overflow: auto;
    height: 100px;
}
.subsetInfo-content .row{
    font-weight: bold !important;
    color: #9A9A9A;
    margin: 0px !important;
}
.subsetInfo-content .row .title{
    font-size: 18px;
    margin-right: 10px;
}
.subsetInfo-content .row .subsetInfoContent{
    font-weight: bold !important;
}

.subsetInfo-content .subsetInfoButtons{
    text-align: center !important;
}
.subsetInfo-content .subsetInfoButtons input{
    margin-top: 0px;
    margin: 5px;
    width: 200px;
}
.Counters-content{
    overflow: auto;
    height: 200px;
}
.Dimentions-content{
    overflow: auto;
    height: 200px;
}
.universesInfo .col-xs-3 .col-xs-2{
    padding: 0px !important;
}
.AddInfo-lable{
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
}
.getPath-btn{
    text-align: center;
    width: 120px;
}
.addbtn{
    text-align: center;
    width: 120px;
}
.icon-success i{
    color: rgb(49, 154, 87) !important;
}
.icon-success span{
    color: rgb(49, 154, 87) !important;
}
.universeName{
    color: #9A9A9A !important;
    border-color: rgb(49, 154, 87) !important;
    font-weight: bold;
}
.universeName:hover{
    color: white !important;
}
.universeName:focus{
    color: white !important;
}
.AddInfo-lable{
    margin-top: 5px;
    margin-left: 35px;
}
.MissingData
{
    
}
