<div class="desktopData">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="header">
                      <h1 class="title">NPM DESKTOP APPLICATION</h1>
                  </div>
                  <div class="content table-responsive table-full-width">
                    <div class="row">
                      <div class="col-md-6">
                          <p class="desktop-info">NPM desktop application is required to completed any executed actions on <b>subsets</b> or <b>counters</b> in network performance management website to synchronize it with <b>Business Objects application (Designer)</b>.</p>
                          <p class="desktop-link">Click <a href="../syriatelnpm/assets/NPM_Desktop_Application.rar">here</a> to download NPM Desktop Application</p>
                      </div>
                      <div class="col-md-6 imageDesktop">
                          <img src="../syriatelnpm/assets/img/desktopImg.PNG" />
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
